<div class="container">
    <div class="row">
      <div class="col-sm">
       
      </div>
      <div class="col-sm">

        
        
        <h1 class="bounce animated" (click)="clockColors()" id="appClock"> {{displayHours}} : {{Clock | date: 'mm'}}
            
                <img style="width: 40px;height:auto;position: absolute; top: 20px; left: 20px;" src="../../assets/sun.gif" *ngIf="clockHour < 17">
                <img style="width:40px;height:auto;position: absolute; top: 23px; left: 20px;" src="../../assets/moon.gif" *ngIf="clockHour >= 17">
        
        </h1>
        
      </div>
      <div class="col-sm">
        
      </div>
    </div>
</div>



