<div class="zoomInUp animated" id="wrapperTxt">

<span>Y</span><span>o</span><span>u</span><span>r</span><span>&nbsp;</span><span>L</span><span>o</span><span>s</span><span>t</span><span>&nbsp;</span><span>I</span><span>n</span><span>&nbsp;</span><span>S</span><span>p</span><span>a</span><span>c</span><span>e</span>




</div>

<div class="container" id="wrapPortal">
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-sm"> 
<a routerLink="" routerLinkActive="active" id="portalLink"><img src="../../assets/portal.gif" id="portal"></a>
<p id="tips">Click on the portal to escape from deep space.</p>
      </div>
      <div class="col-sm">
      
      </div>
    </div>
  </div>
