<div class="container" id="wrapPortal">
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-sm"> 
<a routerLink="/kawai" routerLinkActive="active" id="kawaiPortal" class="portalLink"><img src="../../assets/portal.gif" class="portal"></a>
<a routerLink="" routerLinkActive="active" id="spacePortal" class="portalLink"><img src="../../assets/portal.gif" class="portal"></a>
<a routerLink="/halloween" routerLinkActive="active" id="halloweenPortal" class="portalLink"><img src="../../assets/portal.gif" class="portal"></a>
      </div>
      
      <div class="col-sm">
      
      </div>
 
    </div>
    <p id="tips">Click on the portal to escape from deep space.</p>
</div>

