<div id="cmd" cdkDrag>

    <div style="position: absolute" class="handle"  title="drag and drop this box." cdkDragHandle>
            <svg width="24px" fill="goldenrod" viewBox="0 0 24 24" class="cross">
              <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
    </div>

    <div id="dialogBox">
        Press space bar to hide or show me...  <br><br> Then type help to display all available command.
    </div>

    <div id="userCmd">
           
        <input type="text" placeholder=" >>> enter a command" id="userInput"  autofocus>

    </div>

</div>


