#kawai
{
    height: 77vh;
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 1;
    position: relative;
    top: -3vh;
}

#quotesBox
{
    position: absolute;
    top: 73.5vh;
    font-style: italic;
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 26px;

}

.boxs
{
    z-index: 25;
}

#octoKawai
{
    width: 10vh;
    height: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
}