//font-family: 'Courgette', cursive;

#kawai
{
    height: 77vh;
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 1;
    position: relative;
    top: -3vh;
}

#quotesBox
{
    font-family: 'Playfair Display', serif;
    font-size: 3vh;
}

.boxs
{
    z-index: 25;
}

#octoKawai
{
    width: 10vh;
    height: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
}

#rocketKawai
{
    width: 10vh;
    height: auto;
    position: absolute;
    top: -13vh;
    left: -21vh;
    z-index: 100;
}

#miku
{
    position : absolute;
    left: -1%;
    top: 0vh;
    width: 15vh;
    height: auto;
    z-index: 100;
}

#music
{
    position : absolute;
    left: 0%;
    top: -4vh;
    width: 5vh;
    height: auto;
    display: none;
}

#rainbow
{
    position : absolute;
    left: 3%;
    top: -10%;
    width: 40vh;
    height: auto;
}

#panda
{
    position : absolute;
    left: 92%;
    top: 40vh;
    width: 15vh;
    height: auto;
}

#mush
{
    position : absolute;
    left: 2%;
    top: 93%;
    width: 15vh;
    height: auto;
}