#main
{
    height: 77vh;
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 50;
}

#appClock
{
  display: none;
}

#wrapperTxt
{
    position: relative;
    left: 10%;
    top: 20%;
    
}

.badgesBoxs
{
  background: url('../../assets/code.jpg');  
  background-size: cover;
}

@keyframes opacityEffect {
 0%    {opacity: 0; scale: 0.5}

 100%    {opacity: 1; scale: (1.2)}
}
