<div id="main">

<a routerLink="**" routerLinkActive="active" id="portalLink"><img src="../../assets/octopus.gif" id="animeElt" title={{Quotes[0].quote}} /></a>

<img src="../../assets/rocket.gif"  (click)="Boom()" id="rocketEffect"  />

<img src="../../assets/cat.gif" (click)="BoomCat()"  id="catEffect" />

    <app-box class="boxs" *ngFor="let box of Boxs; let i = index"
          
          [index]="i"

          [title]="box.title"

          [link]="box.link"

          [id]="i"
          >

    </app-box>


 <p id="quotesBox"></p>
    
    

</div>

<audio id="audioElt"></audio>
    


